#mi-encabezado { 
background-image: url('img/imagen2.avif');
background-size: cover; 
background-position: center; 
height: 35rem; 

color: #00000000; /* Color del texto en el encabezado para asegurar la legibilidad */
color: #17374d;
text-orientation: upright;
text-align: center; /* Alinea el contenido al centro del encabezado */
padding: 20px; /* Espacio de relleno interno para el contenido */

}

/* Estilos adicionales para el Título en el encabezado */
#mi-encabezado h1 {
font-size: 45px; /* Tamaño de fuente del título */
font-family: Arial, Helvetica, sans-serif;
}

/* Estilos adicionales para el texto en el encabezado */
#mi-encabezado p {
font-size: 25px; /* Tamaño de fuente del texto del encabezado */
}